body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin : 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  background-color: #282c34;
  min-height      : 100vh;
  font-size       : 26px;
  color           : white;
  text-align      : center;
}

.game-title {
  color              : #00ffffb3;
  text-shadow        : 2px 2px 2px #000;
  /* horizontal-offset vertical-offset 'blur' colour */
  -moz-text-shadow   : 2px 2px 2px #000;
  -webkit-text-shadow: 2px 2px 2px #000;
}